* {
    box-sizing: border-box;
}

body {
    background-color: #F3F5FC;
}

#logo-alura img {
    padding-left: 7%;
    padding-top: 3%;
}

#main-esquerda {
    float: left;
    width: 65%;
    padding-left: 15%;
    margin-top: 5%;
}

#main-direita {
    float: left;
    width: 35%;
    margin-top: -3%;
}

#input-entrada {
    margin-top: 5%;
}

#input-entrada #input-texto {
    width: 680px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    resize: none;
    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    background-color: #F3F5FC;
    border: 0;
}

#texto-explicativo  {
    margin-top: 15%;
} 

#texto-explicativo p {
    width: 228px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    /* identical to box height, or 18px */

    /* Gray/gray-400 */
    color: #495057;

    opacity: 0.8;

    /* Inside auto layout */

} 

#botoes {
    padding-top: 2%;
}

#botoes li {
    display: inline-block;
}

#botoes #botao-criptografar{
    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */
}

#botoes #botao-criptografar .texto-botoes {
    width: 100%;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */
    color: #FFFFFF;
}

#botoes #botao-descriptografar {
    width: 328px;
    height: 67px;

    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#botoes #botao-descriptografar .texto-botoes {
    width: 100%;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
}

footer p{
    position: relative;
    margin-left: 40%;

    color: #0A3871;
    font-size: 25px;
}